/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* text */
    --color-text-h2: #254a5d;
    --color-text-p: #000000;
    --color-text-dark-bg: #ffffff;
    --color-text-orange: #E5481A;
    --color-text-grey: #383A36;

    /* background */
    --color-background-main: #ffffff;
    --color-background-dark: rgb(71, 122, 120);
    --color-background-nav: #49c5b1;
    --color-background-christmas: #164734;
    --color-background-orange: #E5481A;
    --color-background-slider: #E2F8F0;
    --color-background-menu: #6BCBB9;

    /* font */
    --font-weight-h2: 900;
}

/***************/
/* LETTERTYPES */
/***************/

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url(../fonts/Cabin-P.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-VariableFont_wght.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/********/
/* BODY */
/********/

body {
    max-width: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 1.7em;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Cabin';
    font-weight: 300;
}

p {
    font-size: .95em;
    font-family: 'Cabin', sans-serif;
    font-weight: 300;
    line-height: 1.6em;
}


/*************/
/* NAVIGATIE */
/*************/

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 63px;
    gap: 17px;
    background-color: var(--color-background-nav);
    color: var(--color-text-dark-bg);
}

nav ul {
    position: fixed;
    inset: 0;
    gap: 37px;
    background-color: var(--color-background-nav);
    list-style: none;
    translate: 100% 0;
    transition: .3s ease-in;
}

nav img:nth-of-type(2) a {
    text-decoration: none !important;
    padding: 0 !important; 
    margin: 0 !important; 
    display: inline-block;
}

nav ul.open {
    translate: 0% 0;
}

nav img:nth-of-type(1) {
    height: 40px;
}

nav img:nth-of-type(2) {
    height: 29px;
}

/*******************/
/* HAMBURGER MENU  */
/*******************/

/* https://codepen.io/shooft/pen/BaMVzOo */

nav button {
    height: 28px;
    z-index: 10;
}

nav button {
    /* geen standaard vormgeving (die komt mee met het besturingssysteem) */
    appearance: none;
    border: none;
    background-color: var(--color-background-nav);

    /* niet het standaard font van de button gebruiken */
    font-size: 1em;
    font-family: saira;

    width: 2.5em;
    aspect-ratio: 1;
    /* vierkant */

    /* een grid van 1 kolom (en 1 rij) */
    display: grid;
    /* de kinderen in het midden van hun gridcel */
    place-items: center;
}


nav button span {
    display: block;
    width: 1.5em;
    height: .2em;

    background-color: white;

    /* alledrie de spans in dezelfde gridcel */
    /* en daarmee bovenop elkaar */
    grid-column-start: 1;
    grid-row-start: 1;

    transition: .3s;
}


nav button span:nth-of-type(1) {
    translate: 0 -.5em;
    /* beetje naar boven */
}

/* nav button span:nth-of-type(2) {
	  /* niets nodig */
/* } */

nav button span:nth-of-type(3) {
    translate: 0 .5em;
    /* beetje naar beneden */
}


nav button.open span:nth-of-type(1) {
    translate: 0 0;
    /* weer in het midden */
    rotate: 45deg;
    /* draaien */
    scale: 1.25 1;
    /* beetje langer */
}

nav button.open span:nth-of-type(2) {
    scale: 0 1;
    /* plat in de x-richting */
}

nav button.open span:nth-of-type(3) {
    translate: 0 0;
    rotate: -45deg;
    scale: 1.25 1;
}

/**********/
/* FOOTER */
/**********/

footer {
    background-color: var(--color-background-nav);
}

footer ul:nth-of-type(1) {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style: none;
    line-height: .3em;
    padding: 1em 0 0 0;
    margin: 3em 3em 0 3em;
	gap: 1em;
}

footer ul:nth-of-type(1) a {
    font-size: .7em;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text-dark-bg);
}

footer p {
    padding: .7em 0;
    font-size: .7em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-text-dark-bg);
}

footer ul:nth-of-type(2) {
    display: flex;
    justify-content: center;
    padding: 0 2.4em 4em 2.4em;
    list-style: none;
    gap: .7em;
}

footer ul:nth-of-type(2) img{
    height: 1.7em;
}