
/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text-h2: #254a5d;
    --color-text-p: black;
    --color-text-dark-bg: white;
	--color-background-main: white;
    --color-background-dark: rgb(71,122,120);
    --color-background-nav: #49c5b1;
}

@font-face {
	font-family: 'Gotham';
	src: url(../Gotham-Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url(Gotham-Regular.otf) format('opentype');
    font-weight: 00;
    font-style: normal;
}

body {
	margin: 0;
	max-width: 100%;
    width: 100%;
	font-family: 'Gotham', poppins, sans-serif;
}