
/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text-h2: #254a5d;
    --color-text-p: #000000;
    --color-text-dark-bg: #ffffff;
	--color-background-main: #ffffff;
    --color-background-dark: rgb(71,122,120);
    --color-background-nav: #49c5b1;

    --font-weight-h2: 900;
}

@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
	font-family: 'Cabin';
	src: url(../fonts/Cabin-P.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../fonts/Poppins-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}


body {
	margin: 0;
	max-width: 100%;
    width: 100%;
	font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
	font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Cabin';
	font-weight: 300;
}

p {
    font-family: 'Cabin', sans-serif;
	font-size: .95em;
	font-weight: 300;
	line-height: 1.6em;
}