/**************/
/* CSS REMEDY */
/**************/


/****************************/
/* EERSTE SECTION CHRISTMAS */
/****************************/

section:first-of-type {
	width: 100%;
	height: 34em;
	background-color: var(--color-background-dark);
	display: grid;
	place-items: center;
}

section:first-of-type h2 {
	color: var(--color-text-dark-bg);
	margin: .9em 1.3em -.2em 1.3em;
	letter-spacing: .05em;
}

section:first-of-type p {
	color: var(--color-text-dark-bg);
	text-align: center;
	margin: 1.2em 1.2em;
}

section:first-of-type a {
	color: var(--color-text-dark-bg);
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
	font-size: 1em;
	padding: 1em 3em;
	margin: 0 0 3em 0;
	background-color: #49c5b1;
	text-decoration: none;
}

section:first-of-type a:hover {
	color: var(--color-background-nav);
	font-weight: 700;
	font-size: 1em;
	padding: 1em 3em;
	margin-bottom: 3em;
	transition: .5s;
	background-color: var(--color-background-main);
	text-decoration: none;
	box-shadow: 0 0 0 .25em hsl(170, 52%, 53%);
}


section:first-of-type img {
	height: 235px;
	max-width: 100%;
	object-fit: cover;
	margin: -.4em 0;
	grid-row-start: 1;
}


/**************************************/
/* TWEEDE SECTION RECIPES OF THE WEEK */
/**************************************/

section:nth-of-type(2) {
	width: 100%;
}

section:nth-of-type(2) h2 {
	color: var(--color-text-h2);
	margin: 1.7em 1em 1em 1em;
}

section:nth-of-type(2) ul{
	display: flex;
	list-style-type: none;
    align-items: flex-start;
	/* https://codepen.io/newinweb/pen/EpPgdR */
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	gap: 1em;
}

section:nth-of-type(2) li {
	display: flex;
	flex-direction: column-reverse;
	scroll-snap-stop: always;
	scroll-snap-align: center;
}

section:nth-of-type(2) h3 {
	font-weight: 300; 
	/* goede font weights nog downloaden en Cabin font*/
}

section:nth-of-type(2) img {
	margin: 5px;
 	width: 110px;
	border: none;
}


/***********************/
/* DERDE SECTION LATEST*/
/***********************/

section:nth-of-type(3) h2{
	color: var(--color-text-h2);
	margin: 1em;
}

section:nth-of-type(3) ul{
	display: grid;
	padding: .7em;
	margin: 0;
	max-width: 100vw;
	overflow: hidden;
	grid-template-columns: 1fr 1fr;
	list-style-type: none;
	gap: .4em;
}

section:nth-of-type(3) li {
	display: flex;
	max-width: 50vw;
	flex-direction: column-reverse;
	justify-content: flex-end;
}

section:nth-of-type(3) img {
	max-width: 45vw;
}

section:nth-of-type(3) h3 {
	font-size: .8em;
	margin-bottom: 1em;
}


/***********************************/
/* VIERDE SECTION TRENDING RECIPES */
/***********************************/

section:nth-of-type(4) ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0 .4em;
	margin: 0 1.3em;
	gap: 0.4em;
}

section:nth-of-type(4) h2{
	color: var(--color-text-h2)
}

section:nth-of-type(4) ul h3{
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-size: .8em;
	margin: 0 .7em 0 0;
}

section:nth-of-type(4) ul a{
	display: inline-block;
	text-decoration: none;
	padding: .5em 1em;
	background-color: var(--color-background-dark);
	color: var(--color-text-dark-bg);
	text-transform: uppercase;
	font-size: .6em;
	font-family: 'Poppins', sans-serif;
}