/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
nav{
	color: white;
	background-color: #49c5b1;
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
}

nav ul{
	display: flex;
	list-style: none;
	gap: 37px;
}