/**************/
/* CSS REMEDY */
/**************/


/****************************/
/* EERSTE SECTION CHRISTMAS */
/****************************/

section:nth-of-type(1) {
	height: 34em;
	top: 0;
	background-color: var(--color-background-dark);
	display: grid;
	place-items: center;
}

section:nth-of-type(1) h2 {
	color: var(--color-text-dark-bg);
	margin: .9em 1.3em -.2em 1.3em;
	letter-spacing: .05em;
}

section:nth-of-type(1) p {
	color: var(--color-text-dark-bg);
	text-align: center;
	margin: 1.2em 1.2em;
}

section:nth-of-type(1) a {
	color: var(--color-text-dark-bg);
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
	font-size: 1em;
	padding: 1em 3em;
	margin: 0 0 3em 0;
	background-color: #49c5b1;
	text-decoration: none;
}

section:nth-of-type(1) a:hover {
	color: var(--color-background-nav);
	font-weight: 700;
	font-size: 1em;
	padding: 1em 3em;
	margin-bottom: 3em;
	transition: .5s;
	background-color: var(--color-background-main);
	text-decoration: none;
	box-shadow: 0 0 0 .25em hsl(170, 52%, 53%);
}


section:nth-of-type(1) img {
	height: 235px;
	max-width: 100%;
	top: 0;
	object-fit: cover;
	margin: -.4em 0;
	order: -10;
}

@media (width > 375px) {
	section:nth-of-type(1) img {
		height: auto;
	}
}

@media (width > 675px) {
	section:nth-of-type(1) {
		margin: 2em 4em;
	}
}

@media (width > 900px) {
	section:nth-of-type(1) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto;
		height: auto;
	}

	section:nth-of-type(1) img {
		grid-column-start: 1;
		grid-row: 2 / span 3;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	section:nth-of-type(1) h2 {
		grid-column: 2;
		grid-row: 2;
	}

	section:nth-of-type(1) p {
		grid-column: 2;
		grid-row: 3;
	}

	section:nth-of-type(1) a {
		grid-column: 2;
		grid-row: 4;
	}
}


/**************************************/
/* TWEEDE SECTION RECIPES OF THE WEEK */
/**************************************/

section:nth-of-type(2) {
	width: 100%;
}

section:nth-of-type(2) h2 {
	color: var(--color-text-h2);
	margin: 1.7em 1em 1em 1em;
}

section:nth-of-type(2) ul{
	display: flex;
	list-style-type: none;
    align-items: flex-start;
	/* https://codepen.io/newinweb/pen/EpPgdR */
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	gap: 1em;
}

section:nth-of-type(2) ul::-webkit-scrollbar {
	display: none;
}

section:nth-of-type(2) li {
	display: flex;
	flex-direction: column-reverse;
	scroll-snap-stop: always;
	scroll-snap-align: center;
}

section:nth-of-type(2) h3 {
	font-weight: 300; 
}

section:nth-of-type(2) img {
	gap: 5px;
 	width: 200px;
	border: none;
}

/***********************/
/* DERDE SECTION LATEST*/
/***********************/

section:nth-of-type(3) {
    width: 100%;
}

section:nth-of-type(3) h2 {
    color: var(--color-text-h2);
    margin: 1em;
}

section:nth-of-type(3) ul {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax( 240px, 1fr));
	margin: 0 .5em;
    padding: 0.7em;
	width: 100vw;
    overflow: hidden;
    list-style-type: none;
    gap: 0.6em;
    justify-content: center;
	align-items: start;
}

section:nth-of-type(3) li {
	position: relative;
	top: 0;
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    margin: auto;
	justify-content: start;
	text-align: left;
	border: red;
}

section:nth-of-type(3) img {
	position: relative;
    object-fit: cover;
	width: fit-content;
	width: 100%;
	height: auto;
	top: 0;
}

section:nth-of-type(3) h3 {
    font-size: 0.8em;
    margin-bottom: 1em;
}

@media (min-width: 501px) {
    section:nth-of-type(3) h3 {
        font-size: 1em;
    }
}

@media (min-width: 801px) {
    /* section:nth-of-type(3) ul {
        grid-template-columns: repeat(3, 1fr);
    } */

    section:nth-of-type(3) h3 {
        font-size: 1.2em;
    }
}

@media (min-width: 1000px) {
	section:nth-of-type(3) ul {
		grid-template-columns: repeat(3, 1fr)
	}
}


/***********************************/
/* VIERDE SECTION TRENDING RECIPES */
/***********************************/

section:nth-of-type(4) ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0 .4em;
	margin: 0 1.3em;
	gap: 0.4em;
}

section:nth-of-type(4) h2{
	color: var(--color-text-h2)
}

section:nth-of-type(4) ul h3{
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-size: .8em;
	margin: 0 .7em 0 0;
}

section:nth-of-type(4) ul a{
	display: inline-block;
	text-decoration: none;
	padding: .5em 1em;
	background-color: var(--color-background-dark);
	color: var(--color-text-dark-bg);
	text-transform: uppercase;
	font-size: .6em;
	font-family: 'Poppins', sans-serif;
}